.Container {
  padding: 16px;
}

.boxContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 230px);
  gap: 20px;
}
.todoListContainer {
  width: 100%;
  box-shadow: -6px 0 16px -8px rgba(233, 232, 232, 0.08), -9px 0 28px 0 rgb(0 0 0 / 5%),
    -12px -12px 48px 16px rgb(0 0 0 / 6%);
  // background: rgba(255, 255, 255,.2);
  background: hsla(0, 50%, 100, 0.65);
  backdrop-filter: blur(6px);
  border-radius: 12px;
  padding: 12px 0;
  animation: addTodoAnimation 2.5s;
}
.todoListContainerTop {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todoListContainerBottom {
  padding: 0 12px;
  margin-top: 12px;
}
.AddCardBtn {
  width: 100%;
  margin-top: 20px;
  border: none !important;
  border: 0.5px solid white !important;
  box-shadow: none !important;
  margin-top: 30px;
}
.CardNameBox {
  padding: 10px;
  border: 0.5px solid white !important;
  border-radius: 32px;
  width: 100%;
  color: black !important;
  border: none;
}
.CardNameBox::-webkit-input-placeholder {
  color: #fff;
}
.AddCardBtn:hover {
  background-color: transparent !important;
}
.addTodo {
  position: absolute;
  right: 5%;
  bottom: 5%;
  border-radius: 50%;
  font-size: 40px;
  background: black;
  color: #fff;
  animation: addTodoAnimation 2.5s;
}
.Extensions {
  position: absolute;
  right: 5%;
  font-size: 20px;
}
@media (max-width: 500px) {
  .boxContainer {
    display: grid;
    grid-template-columns: 1fr;
  }
  .todoListContainer {
    width: 100%;
  }
}
@keyframes addTodoAnimation {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
